# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - ./docker_postgres_init.sql:/docker-entrypoint-initdb.d/docker_postgres_init.sql
    ports:
     - "5432:5432"

  algorithm:
    env_file:
      - .env
    build:
      dockerfile: app.Dockerfile
    depends_on:
      - db