name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: docker login
      env:
        DOCKER USER: ${{secrets.DOCKER USER}}
        DOCKER PASSWORD: ${{secrets.DOCKER PASSWORD}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag trading:$(date +%s)
    - name: Docker push
      run: docker push ${{secrets.DOCKER_USER}}/trading